:root {
  // color code combination vars
  --color-bg: #f7f9f9;
  --color-primary: #c45ab3;
  --color-primary-alt: #631a86;
  --color-secondary: #838383;
  --color-secondary-alt: #2c2c2c;
  --color-accent: #1abc9c;
  --color-accent-alt: #049477;
  --color-light: #ffffff;
  --color-light-alt: #141414;
  --color-dark: #0f0f0f;
  --color-dark-alt: #1f1f1f;
  --color-orange: #ff751a;
  --color-orange-alt: #c75407;
  --color-antiquewhite: antiquewhite;
  --color-card: #ffffff;
  --color-text-primary: #111111;
  --color-nav: #f8f8f8;

  --color-mute: #777777;
  --color-link: #00da41;

  // color transparent
  --color-trans-one: #ffffff91;
  --color-trans-two: #0000001a;
  --color-trans-three: #b3b3b363;
  --color-text: #000000;
  --color-active: whitesmoke;
}
