// card design
.card_default {
  background: var(--color-trans-one);
  border-radius: 4px;
  box-shadow: 0 4px 30px var(--color-trans-two);
  backdrop-filter: blur(18px);
  border: 1px solid var(--color-trans-three);
}

.card_img {
  padding-top: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: auto;
  }
}

@media (max-width: 567px) {
  .card_img {
    height: 110px;
    img {
      width: 150px;
    }
  }
}

.card_description {
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
  .card_title {
    font-size: var(--size-primary);
  }

  .card_list {
    display: flex;
    flex-direction: column;
  }
}

// section design
.section_default {
  padding: 3rem 0;
}

.section_title {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font-secondary);
  font-size: var(--size-big);

  > p {
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--size-primary);
  }
}

.status_btn {
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  font-size: var(--size-smallest);

  &:hover {
    text-decoration: underline;
  }
}

.bt9_checkout {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 500;
  display: block;
  border: none;
  transition: all 0.4s linear;
  width: 99%;
  margin: auto;
  letter-spacing: 0.9px;

  &:hover {
    background-color: var(--color-accent-alt);
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}

.bt9_edit {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;

  &:hover {
    background-color: var(--color-accent-alt);
  }
}

.bt9_withdraw {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.4s linear;

  &:hover {
    background-color: var(--color-orange-alt);
  }
}

// form design
.form-control {
  background-color: var(--color-light);
  color: var(--color-text);
  .form-control-sm {
    padding: 0.4rem 0.5rem;
  }

  &:focus {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

.form-select {
  background-color: var(--color-light);
  color: var(--color-dark-alt);
  text-transform: capitalize;
  .form-select-sm {
    padding: 0.2rem 0.5rem;
  }

  &:focus {
    background-color: var(--color-bg);
    color: var(--color-text);
  }
}

label {
  font-size: 0.816rem;
  margin-bottom: 0.5rem;
}

// btn class

.btn {
  border: none;
}

.btn-primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-primary-alt);
  }
  &:focus {
    border: none;
  }
  &.active {
    color: #fff;
    background-color: transparent;
  }
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary);
}

.theme_box {
  display: flex;
  align-items: center;
  width: auto;
  padding: 0.25rem 1rem;
  justify-content: start;
}

@media (max-width: 567px) {
  .theme_box {
    margin: 1rem 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0%;
  top: 50%;
  background-color: #3e3e3e;
  transition: 0.4s;
  transform: translate(-50%, -50%);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  // transform: translate(50%, -50%);
  left: 100%;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-menu {
  font-size: 14px;
  min-width: 12rem;
  background-color: var(--color-bg);
  box-shadow:  0 0 10px var(--color-accent);
}

.dropdown-item {
  color: var(--color-text);
}

.dropdown-menu.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

// .dropdown-menu[data-bs-popper] {
//   top: 100%;
//   left: 0;
//   margin-top: 0.125rem;
//   transform: translate(0%, 0%);
// }

.modal-content {
  background-color: var(--color-bg);
}

.btn {
  color: var(--color-text);
}

.product_price_model {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.4rem 0;
  padding: 0.1rem 0;

  > big {
    color: var(--color-accent);
    padding-right: 0.3rem;
    font-weight: 500;
  }
}

.product_rating_model small {
  color: var(--color-orange);
  font-weight: 500;
}

// .search_result {
//   width: 50%;
//   margin: auto;
// }

// @media (max-width: 567px) {
//   .search_result {
//     width: 95%;
//   }
// }

.theme_changer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999999999;
}