// card design
.card_default {
  background: var(--color-trans-one);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--color-trans-two);
  backdrop-filter: blur(18px);
  border: 1px solid var(--color-trans-three);
}

.card_img {
   padding-top: 0.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 280px;
  img {
    width: 130px;
    height: 100%;
    object-fit: contain;
    margin: auto;
  }
}

@media (max-width: 567px) {
  .card_img {
    height: 220px;
   img {
     width: 150px;
   }
 } 
}

.card_description {
  display: flex;
  flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
  .card_title {
    font-size: var(--size-primary);
  }

  .card_list {
    display: flex;
    flex-direction: column;
  }
}

// section design
.section_default {
  padding: 3rem 0;
}

.section_title {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font-secondary);
  font-size: var(--size-big);

  > p {
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--size-primary);
  }
}
