.nav_link{
   margin: 0 0.6rem;
   width: fit-content;
}
.cart_link {
   position: relative;
}
.cart_link .cart_badge {
   width: 16px;
   height: 16px;
   border-radius: 50px;
   border: 1px solid #ffffff;
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   right: 0;
   color: white;
   font-weight: bold;
}