.navigation_bar {
   background-color: #2874f0;
   color: white;
   padding: 0.6rem 0;
}

.nav_link{
   margin: 0 0.6rem;
   width: fit-content;
   color: white !important;
}

.nav_link.active {
   color: rgba(255, 255, 255, 0.849) !important;
}

.cart_link {
   position: relative;
}
.cart_link .cart_badge {
   width: 16px;
   height: 16px;
   border-radius: 50px;
   border: 1px solid #ffffff;
   font-size: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   right: 0;
   color: white;
   font-weight: bold;
}