/* .view_product_sidebar {
   height: 77vh;
} */

.product_image {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70vh;
}

.product_image img {
   width: 70%;
   height: auto;
}

.product_spec {
   display: block;
}

.product_spec li {
   list-style: circle;
}
