.swatch_size_btn {
  border: 1px solid var(--color-mute);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-mute);
  background-color: transparent;
  margin: 0 0.3rem;
  font-size: 70%;

  &.active {
    color: var(--color-green);
    border: 1px solid var(--color-green);
  }
}

.seeMore {
  color: var(--color-blued);
  cursor: pointer;
  font-weight: 500;
}

.product_price_model {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.4rem 0;
  padding: 0.1rem 0;

  big {
    color: var(--color-green);
    padding-right: 0.3rem;
    font-weight: 500;
  }

  strike {
    color: var(--color-mute);
    margin: 0 0.6rem;
  }

  span {
    color: var(--color-green);
    font-weight: 500;
  }
}

.product_rating_model small {
  color: var(--color-orange);
  font-weight: 500;
}

.product-details {
  margin-top: 3.2rem;
}

.p_details {
  margin-bottom: 1.2rem;

  h5{
    padding: 0.6rem 0 1rem 0;
  }
}

.product-details__items {

  ul {
    column-count: 2;
    column-gap: 30px;
    > li {
      padding: 0.2rem 0;
      display: flex;
      width: 100%;
      flex-direction: row;
      font-size: 0.8rem;

      > span {
        color: var(--color-mute);
        margin-right: 0.6rem;
        font-weight: 500;
        width: 50%;
        display: block;

        &:nth-child(2) {
          color: var(--color-text);
        }
      }
    }
  }
}
