html {
  --color-bg: #f7f9f9;
  --color-primary: #c45ab3;
  --color-primary-alt: #631a86;
  --color-secondary: #4b4b4b;
  --color-secondary-alt: #2c2c2c;
  --color-accent: #1abc9c;
  --color-accent-alt: #049477;
  --color-light: #ffffff;
  --color-light-alt: #141414;
  --color-dark: #0f0f0f;
  --color-dark-alt: #1f1f1f;
  --color-link: #141414;
  --color-orange: #ff751a;
  --color-orange-alt: #c75407;
  --color-antiquewhite: antiquewhite;
  --color-card: #ffffff;
  --color-text-primary: #111111;
  --color-nav: #f8f8f8;
  --color-trans-one: #ffffff91;
  --color-trans-two: #0000001a;
  --color-trans-three: #ffffff2b;
  --color-text: #000000;
  --color-active: whitesmoke;
  --font-primary2: "Spline Sans Mono", monospace;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Fredoka One", cursive;
  --size-primary: 0.975rem;
  --size-big: 1.1rem;
  --size-bigger: 2rem;
  --size-small: 0.875rem;
  --size-smaller: 0.785rem;
  --size-smallest: 0.7rem;
}

html[data-theme="true"] {
  --color-bg: #1b1b1b;
  --color-primary: #c45ab3;
  --color-primary-alt: #631a86;
  --color-secondary: #b6b6b6;
  --color-secondary-alt: #c0c0c0;
  --color-accent: #0fa4fa;
  --color-accent-alt: #049477;
  --color-light: #292929;
  --color-light-alt: #f4f6f7;
  --color-dark: #f1f1f1;
  --color-dark-alt: #93bce5;
  --color-link: #e7e7e7;
  --color-orange: #ff751a;
  --color-orange-alt: #c75407;
  --color-text: #fff;
  --color-trans-one: #1a1a1a91;
  --color-antiquewhite: #07a5897d;
  --color-card: #3f3f3f;
  --color-text-primary: #e9e9e9;
  --color-active: #222222;
  --color-nav: #1b1b1b;
}

@media (max-width: 567px) {
  html {
    --size-primary: 0.91rem;
    --size-big: 1.1rem;
    --size-bigger: 2rem;
    --size-small: 0.875rem;
    --size-smaller: 0.785rem;
    --size-smallest: 0.685rem;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  color: var(--color-text);
  font-size: 15px;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

ol, ul {
  padding-left: 0.8rem;
}

a {
  color: var(--color-link);
}

.badge {
  border: none;
  cursor: pointer;
}

.badge:disabled {
  background-color: gray !important;
}

tr {
  font-size: var(--size-smaller);
}

svg {
  color: var(--color-text-primary);
}

.table {
  color: var(--color-text);
}

.ck.ck-editor__main > .ck-editor__editable {
  background-color: var(--color-light) !important;
}

.card_default {
  background: var(--color-trans-one);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 30px var(--color-trans-two);
          box-shadow: 0 4px 30px var(--color-trans-two);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border: 1px solid var(--color-trans-three);
}

.card_img {
  padding-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

.card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

@media (max-width: 567px) {
  .card_img {
    height: 110px;
  }
  .card_img img {
    width: 150px;
  }
}

.card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
}

.card_description .card_title {
  font-size: var(--size-primary);
}

.card_description .card_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_default {
  padding: 3rem 0;
}

.section_title {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font-secondary);
  font-size: var(--size-big);
}

.section_title > p {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--size-primary);
}

.status_btn {
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  font-size: var(--size-smallest);
}

.status_btn:hover {
  text-decoration: underline;
}

.bt9_checkout {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 500;
  display: block;
  border: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 99%;
  margin: auto;
  letter-spacing: 0.9px;
}

.bt9_checkout:hover {
  background-color: var(--color-accent-alt);
}

.bt9_checkout:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.bt9_edit {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.bt9_edit:hover {
  background-color: var(--color-accent-alt);
}

.bt9_withdraw {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.bt9_withdraw:hover {
  background-color: var(--color-orange-alt);
}

.form-control {
  border: none;
  background-color: var(--color-light);
  color: var(--color-text);
  border-bottom: 2px solid var(--color-accent);
  border-radius: 0;
}

.form-control .form-control-sm {
  padding: 0.4rem 0.5rem;
}

.form-control:focus {
  border-bottom: 3px solid var(--color-accent-alt);
  background-color: var(--color-bg);
  -webkit-box-shadow: unset;
          box-shadow: unset;
  color: var(--color-text);
}

.form-select {
  border: none;
  background-color: var(--color-light);
  color: var(--color-dark-alt);
  text-transform: capitalize;
  border-bottom: 2px solid var(--color-accent);
  border-radius: 0;
}

.form-select .form-select-sm {
  padding: 0.2rem 0.5rem;
}

.form-select:focus {
  border-color: var(--color-accent);
  border: none;
  background-color: transparent;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

label {
  font-size: 0.816rem;
  margin-bottom: 0.5rem;
}

.btn {
  border: none;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-alt);
}

.btn-primary:focus {
  border: none;
}

.btn-primary.active {
  color: #fff;
  background-color: transparent;
}

.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary);
}

.theme_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  padding: 0.25rem 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 567px) {
  .theme_box {
    margin: 1rem 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0%;
  top: 50%;
  background-color: #3e3e3e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  left: 100%;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dropdown-menu {
  font-size: 14px;
  min-width: 12rem;
}

.dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-content {
  background-color: var(--color-bg);
}

.btn {
  color: var(--color-text);
}

.navigation_bar {
  background-color: var(--color-nav);
  color: var(--color-text);
  padding: 0.6rem 0;
}

.nav_link {
  margin: 0 0.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-text);
}

.nav_link.active {
  color: var(--color-text-alt) !important;
}

.cart_link {
  position: relative;
}

.cart_link .cart_badge {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: unset;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: unset;
}

.navbar-light .navbar-brand {
  color: unset;
}

.product_card {
  margin: auto;
  border-radius: 2px;
  background: var(--color-trans-one);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  width: 190px;
}

.product_card:hover {
  -webkit-box-shadow: 0 0 6px #00000086;
          box-shadow: 0 0 6px #00000086;
}

.product_card_img {
  padding-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
}

.product_card_img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.product_card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
}

.product_card_description .product_title {
  position: relative;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  color: var(--color-dark);
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  box-orient: vertical;
}

.product_card_description .product_meta .product_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.product_card_description .product_meta .product_price > big {
  margin: 0.5rem 0;
  color: var(--color-accent);
}

.product_card_description .product_meta .product_price > small {
  margin-left: 0.6rem;
}

.product_card_description .product_meta .product_rating small {
  color: var(--color-orange);
}

.product_card_description .product_meta .product_brand {
  margin-top: 0.5rem;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  color: var(--color-secondary);
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
}

.product_card_description .product_meta .product_brand > small {
  font-size: 0.767rem;
}

@media (max-width: 567px) {
  .product_card {
    width: 100%;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_img {
  padding: 0.3rem;
}

.cart_img img {
  width: 50px;
}

.cart_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address_card {
  position: relative;
  background-color: var(--color-bg);
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 0.2rem 0.5rem;
  margin: 0.6rem 0;
  border: 1px solid #e7e7e7;
  height: 112px;
  display: block;
  color: var(--color-text-primary);
}

.address_card:hover {
  background-color: whitesmoke;
  border: 1px solid var(--color-accent);
}

.address_card::before {
  content: "";
  top: 0;
  right: 0;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
}

.address_card.selected {
  background-color: var(--color-active);
  border: 1px solid var(--color-accent-alt);
}

.address_card.selected::before {
  border-right: 30px solid var(--color-accent-alt);
}

.cart_card {
  background-color: var(--color-card);
  padding: 0.8rem;
  border: 1px solid #e7e7e7;
  border-top: 8px solid var(--color-accent);
}

.cart_card_body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.tty_ssd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0 0.8rem 0;
}

.update_form {
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.update_form > button {
  padding: 0.2rem 0.4rem;
  border: 1px solid hotpink;
  border-radius: 3px;
  background-color: hotpink;
  margin-top: 0.6rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.update_form > button:hover {
  background-color: #bb0460;
}

.update_form.active {
  height: 90px;
  padding: 0.5rem 0;
}

.profile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile_header .ph_i span {
  font-weight: 500;
  padding: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.recommended_comp {
  background-color: var(--color-antiquewhite);
  margin-top: 8rem;
}

.c_nav {
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: var(--color-bg);
  top: 58px;
  left: 0;
}

.c_nav_btn {
  padding: 1rem 0.6rem;
  width: 130px;
  cursor: pointer;
}

.c_nav_btn .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-dark);
}

.c_nav_btn .a img {
  width: 55px;
  height: 55px;
}

.c_nav_btn:hover {
  -webkit-box-shadow: 0 0 6px 0 #00000080;
          box-shadow: 0 0 6px 0 #00000080;
}

.cc_tty {
  margin: auto;
  text-align: left;
  position: absolute;
  background-color: var(--color-bg);
  top: initial;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99999;
  -webkit-box-shadow: 0px 12px 7px 0px #0000002e;
          box-shadow: 0px 12px 7px 0px #0000002e;
  width: 95%;
  padding: 0 2rem;
  border-top: 1px solid var(--color-dark);
}

.c_sub_menu_wrapper {
  padding: 1rem 0;
}

.gg_tr {
  margin-bottom: 1rem;
}

.ai_tj {
  margin: 0;
}

.ai_tj > a {
  font-size: 0.9rem;
  color: var(--color-accent);
  text-transform: uppercase;
}

.ffg_th > p {
  margin: 0;
}

.ffg_th > p > a {
  color: var(--color-dark);
  font-size: 0.9rem;
  text-transform: capitalize;
}

.ggt_ffo a {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.ggt_ffo small {
  font-size: 0.9rem;
}

.ggt_ffo ul li a {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.category_right_side {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: 2px;
}

.category_left_side {
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 567px) {
  .category_right_side {
    height: 100%;
    overflow-y: auto;
  }
  .category_left_side {
    height: auto;
    overflow-y: auto;
  }
}

.ddl_g_btn {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  padding: 0.6rem;
  height: auto;
  display: block;
  font-size: 1rem;
}

.ddl_g_btn.active {
  background-color: var(--color-accent);
}

.ff_kl3 {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.d_left {
  height: 89vh;
  position: fixed;
  left: 0;
  top: 70px;
  width: 220px;
  overflow-y: auto;
}

.d_link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.3rem;
}

.d_link > .nav-link {
  color: var(--color-text);
}

.d_link > .nav-link.active_link {
  color: red;
}

.d_right {
  margin-left: 220px;
  overflow-y: auto;
}

/* @media (max-width : 567px) {
   .d_left {

   }
} */
.pp_iyg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
