:root {
  --color-bg: #f7f9f9;
  --color-primary: #c45ab3;
  --color-primary-alt: #631a86;
  --color-secondary: #838383;
  --color-secondary-alt: #2c2c2c;
  --color-accent: #1abc9c;
  --color-accent-alt: #049477;
  --color-light: #ffffff;
  --color-light-alt: #141414;
  --color-dark: #0f0f0f;
  --color-dark-alt: #1f1f1f;
  --color-orange: #ff751a;
  --color-orange-alt: #c75407;
  --color-antiquewhite: antiquewhite;
  --color-card: #ffffff;
  --color-text-primary: #111111;
  --color-nav: #f8f8f8;
  --color-mute: #777777;
  --color-link: #00da41;
  --color-trans-one: #ffffff91;
  --color-trans-two: #0000001a;
  --color-trans-three: #b3b3b363;
  --color-text: #000000;
  --color-active: whitesmoke;
}

:root {
  --font-primary2: "Spline Sans Mono", monospace;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Fredoka One", cursive;
  --font-app: "Roboto", sans-serif;
}

:root {
  --font-size-normal: 0.975rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.775rem;
  --font-size-big: 1.875rem;
  --font-size-bigger: 2.775rem;
  --py-1: 0.9rem 0;
  --py-2: 1.2rem 0;
  --py-3: 1.9rem 0;
  --py-4: 2.1rem 0;
  --py-5: 2.9rem 0;
  --px-1: 0.9rem 0;
  --px-2: 1.2rem 0;
  --px-3: 1.9rem 0;
  --px-4: 2.1rem 0;
  --px-5: 2.9rem 0;
  --p-1: 0.9rem;
  --p-2: 1.2rem;
  --p-3: 1.9rem;
  --p-4: 2.1rem;
  --my-1: 0.9rem 0;
  --my-2: 1.2rem 0;
  --my-3: 1.9rem 0;
  --my-4: 2.1rem 0;
  --my-5: 2.9rem 0;
  --mx-1: 0.9rem 0;
  --mx-2: 1.2rem 0;
  --mx-3: 1.9rem 0;
  --mx-4: 2.1rem 0;
  --mx-5: 2.9rem 0;
  --m-1: 0.9rem;
  --m-2: 1.2rem;
  --m-3: 1.9rem;
  --m-4: 2.1rem;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-app);
  color: var(--color-text);
  font-size: 15px;
  font-weight: 400;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

ol,
ul {
  padding-left: 0.8rem;
}

a {
  color: var(--color-link);
}

.badge {
  border: none;
  cursor: pointer;
}
.badge:disabled {
  background-color: gray !important;
}

tr {
  font-size: var(--font-size-smaller);
}

svg {
  color: var(--color-text-primary);
}

.table {
  color: var(--color-text);
}

.ck.ck-editor__main > .ck-editor__editable {
  background-color: var(--color-light) !important;
}

.card_default {
  background: var(--color-trans-one);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 30px var(--color-trans-two);
          box-shadow: 0 4px 30px var(--color-trans-two);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border: 1px solid var(--color-trans-three);
}

.card_img {
  padding-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}
.card_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

@media (max-width: 567px) {
  .card_img {
    height: 110px;
  }
  .card_img img {
    width: 150px;
  }
}
.card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
}
.card_description .card_title {
  font-size: var(--font-size-normal);
}
.card_description .card_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_default {
  padding: 3rem 0;
}

.section_title {
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  font-family: var(--font-secondary);
  font-size: var(--font-size-big);
}
.section_title > p {
  margin: 0;
  font-family: var(--font-primary);
  font-size: var(--font-size-normal);
}

.status_btn {
  padding: 0.1rem 0.4rem;
  border: 1px solid var(--color-dark);
  border-radius: 3px;
  font-size: var(--font-size-smaller);
}
.status_btn:hover {
  text-decoration: underline;
}

.bt9_checkout {
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 500;
  display: block;
  border: none;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  width: 99%;
  margin: auto;
  letter-spacing: 0.9px;
}
.bt9_checkout:hover {
  background-color: var(--color-accent-alt);
}
.bt9_checkout:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.bt9_edit {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-accent);
  border-radius: 3px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.bt9_edit:hover {
  background-color: var(--color-accent-alt);
}

.bt9_withdraw {
  padding: 0.2rem 0.3rem;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
  background-color: var(--color-orange);
  color: var(--color-light);
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.bt9_withdraw:hover {
  background-color: var(--color-orange-alt);
}

.form-control {
  background-color: var(--color-light);
  color: var(--color-text);
}
.form-control .form-control-sm {
  padding: 0.4rem 0.5rem;
}
.form-control:focus {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.form-select {
  background-color: var(--color-light);
  color: var(--color-dark-alt);
  text-transform: capitalize;
}
.form-select .form-select-sm {
  padding: 0.2rem 0.5rem;
}
.form-select:focus {
  background-color: var(--color-bg);
  color: var(--color-text);
}

label {
  font-size: 0.816rem;
  margin-bottom: 0.5rem;
}

.dropdown-menu {
  font-size: 14px;
  min-width: 12rem;
  background-color: var(--color-bg);
  -webkit-box-shadow: 0 0 10px var(--color-accent);
          box-shadow: 0 0 10px var(--color-accent);
}

.dropdown-item {
  color: var(--color-text);
}

.dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-content {
  background-color: var(--color-bg);
}

.product_price_model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0.4rem 0;
  padding: 0.1rem 0;
}
.product_price_model big {
  color: var(--color-accent);
  padding-right: 0.3rem;
  font-weight: 500;
}
.product_price_model span {
  color: var(--color-secondary);
}

.product_rating_model small {
  color: var(--color-orange);
  font-weight: 500;
}

.confirm_box {
  padding: 2rem 0.8rem;
  background-color: whitesmoke;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99999999;
  border-radius: 10px;
  width: 80%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
}
.confirm_box .confirm_box_btn {
  padding: 0.8rem 0;
  margin-top: 1rem;
}
.confirm_box .confirm_box_btn button {
  margin: 0 0.5rem;
}
.confirm_box.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headers .hBtn {
  border: 1px solid var(--color-accent-alt);
  padding: 0.2rem;
  margin: 0.3rem 0.4rem;
  color: var(--color-text);
  font-size: 0.8rem;
}
.headers .hBtn.active {
  background-color: var(--color-accent);
}

.login-with-google-btn {
  -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  padding: 10px 16px 10px 42px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 8% 50%;
}
.login-with-google-btn:hover {
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  background-color: #ebebeb;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.bt9_auth {
  color: var(--color-light);
  font-size: var(--font-size-normal);
  padding: 6px 35px;
  border-radius: 3px;
  display: inline-block;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 8px 0 var(--color-accent-alt);
          box-shadow: 0 0 8px 0 var(--color-accent-alt);
  background-image: linear-gradient(135deg, var(--color-accent-alt) 10%, var(--color-accent) 100%);
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.bt9_auth:hover {
  background-image: linear-gradient(-135deg, var(--color-accent) 10%, var(--color-accent-alt) 100%);
}
.bt9_auth:disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: not-allowed;
  background-color: var(--color-mute);
}

.brand_logo {
  font-weight: bolder;
}

.nav_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem 0.3rem;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
}

.nav_right_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nv_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.1rem;
  font-size: 1.3rem;
}
.nv_items span {
  cursor: pointer;
}

.navigation_bar {
  background-color: var(--color-nav);
  color: var(--color-text);
  padding: 0.6rem 0;
}

.search_box {
  position: relative;
}
.search_box input {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.search_box .search_result {
  position: absolute;
  top: 30px;
  left: 0;
}

.search_field {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-40%, 50%);
          transform: translate(-40%, 50%);
  z-index: 99999;
}
.search_field.active {
  display: block;
  padding: 2rem 1rem;
  background: var(--color-light);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px var(--color-trans-three);
          box-shadow: 0 0 6px var(--color-trans-three);
}

.account_box {
  position: relative;
}

.account_field {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0%, 20%);
          transform: translate(0%, 20%);
  z-index: 99999;
  font-size: 0.9rem;
}
.account_field.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3rem;
  background: var(--color-light);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px var(--color-trans-three);
          box-shadow: 0 0 6px var(--color-trans-three);
}
.account_field .drp_item {
  margin: 0.4rem 0;
}
.account_field button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
}

.nav_link {
  margin: 0 0.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-text);
}

.nav_link.active {
  color: var(--color-text-alt) !important;
}

.cart_link {
  position: relative;
}

.cart_link .cart_badge {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: unset;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: unset;
}

.navbar-light .navbar-brand {
  color: unset;
}

.product_card {
  margin: auto;
  border-radius: 2px;
  background: var(--color-trans-one);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  width: 190px;
}
.product_card:hover {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5254901961);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.5254901961);
}

.product_card_img {
  padding-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
}
.product_card_img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.product_card_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9rem;
  color: var(--color-dark);
}
.product_card_description .product_title {
  position: relative;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  color: var(--color-dark);
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  box-orient: vertical;
}
.product_card_description .product_meta .product_brand {
  margin-top: 0.5rem;
  font-size: 14px;
  height: 36px;
  line-height: 18px;
  color: var(--color-secondary);
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
}
.product_card_description .product_meta .product_brand > small {
  font-size: 0.767rem;
}

@media (max-width: 567px) {
  .product_card {
    width: 100%;
  }
}
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart_img {
  padding: 0.3rem;
}

.cart_img img {
  width: 50px;
}

.cart_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.address_card {
  position: relative;
  background-color: var(--color-bg);
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  padding: 0.2rem 0.5rem;
  margin: 0.6rem 0;
  border: 1px solid #e7e7e7;
  height: 112px;
  display: block;
  color: var(--color-text-primary);
}
.address_card:hover {
  background-color: whitesmoke;
  border: 1px solid var(--color-accent);
}
.address_card::before {
  content: "";
  top: 0;
  right: 0;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
}

.address_card.selected {
  background-color: var(--color-active);
  border: 1px solid var(--color-accent-alt);
}

.address_card.selected::before {
  border-right: 30px solid var(--color-accent-alt);
}

.cart_card {
  background-color: var(--color-card);
  padding: 0.8rem;
  border: 1px solid #e7e7e7;
  border-top: 8px solid var(--color-accent);
}

.cart_card_body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.tty_ssd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0.5rem 0 0.8rem 0;
}

.update_form {
  height: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  text-align: center;
}

.update_form > button {
  padding: 0.2rem 0.4rem;
  border: 1px solid hotpink;
  border-radius: 3px;
  background-color: hotpink;
  margin-top: 0.6rem;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.update_form > button:hover {
  background-color: #bb0460;
}

.update_form.active {
  height: 90px;
  padding: 0.5rem 0;
}

.profile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.profile_header .ph_i span {
  font-weight: 500;
  padding: 0.2rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

.recommended_comp {
  background-color: var(--color-antiquewhite);
  margin-top: 8rem;
}

.nv_btn {
  display: none;
}

.c_nav {
  border-bottom: 1px solid gray;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: var(--color-bg);
  top: 58px;
  left: 0;
}

.c_nav_btn {
  padding: 0.5rem 0.6rem;
  width: 130px;
  cursor: pointer;
}

.c_nav_btn .a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--color-dark);
}
.c_nav_btn .a img {
  width: 55px;
  height: 55px;
}

.c_nav_btn:hover {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5019607843);
}

.cc_tty {
  margin: auto;
  text-align: left;
  position: absolute;
  background-color: var(--color-bg);
  top: initial;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99999;
  -webkit-box-shadow: 0px 12px 7px 0px rgba(0, 0, 0, 0.1803921569);
          box-shadow: 0px 12px 7px 0px rgba(0, 0, 0, 0.1803921569);
  width: 95%;
  padding: 0 2rem;
  border-top: 1px solid var(--color-dark);
}

.c_sub_menu_wrapper {
  padding: 1rem 0;
}

.gg_tr {
  margin-bottom: 1rem;
}

.ai_tj {
  margin: 0;
}
.ai_tj > a {
  font-size: 0.9rem;
  color: var(--color-accent);
  text-transform: uppercase;
}

.ffg_th > p {
  margin: 0;
}
.ffg_th > p > a {
  color: var(--color-dark);
  font-size: 0.9rem;
  text-transform: capitalize;
}

.category_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 567px) {
  .nv_btn {
    z-index: 9999999;
    display: block;
  }
  .category_header {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 99999;
  }
  .category_navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c_nav {
    border-bottom: 1px solid gray;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: var(--color-bg);
    top: 90px;
    left: -100%;
    margin-bottom: 0.6rem;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .c_nav.active {
    left: 43px;
    top: 59px;
  }
}
.ggt_ffo a {
  font-size: 0.9rem;
  text-transform: capitalize;
}
.ggt_ffo small {
  font-size: 0.9rem;
}
.ggt_ffo ul li a {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.category_right_side {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: 2px;
}

.category_left_side {
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 567px) {
  .category_right_side {
    height: 100%;
    overflow-y: auto;
  }
  .category_left_side {
    height: auto;
    overflow-y: auto;
  }
}
.ddl_g_btn {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  padding: 0.6rem;
  height: auto;
  display: block;
  font-size: 1rem;
}
.ddl_g_btn.active {
  background-color: var(--color-accent);
}

.ff_kl3 {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_spec h4 {
  font-size: 1.3rem;
}
.product_spec td {
  padding: 0.6rem;
}

.product_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product_image img {
  max-width: 416px;
  max-height: 416px;
  vertical-align: top;
  position: inherit;
}

.product_image_tab {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid var(--color-trans-three);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.product_image_tab .image_btn {
  border: 2px solid var(--color-text);
  cursor: pointer;
  margin: 0.3rem;
}
.product_image_tab .image_btn img {
  width: 50px;
  height: 50px;
}

.product_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product_spec {
  display: block;
}

.product_spec li {
  list-style: circle;
}

.buyBtn {
  background-color: #fb641b;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-size: 0.875rem;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.buyBtn:hover {
  background-color: #cc4502;
}

.addToCartBtn {
  background-color: #ff9f00;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
  color: white;
  font-size: 0.875rem;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border: 1px solid #ff9f00;
}
.addToCartBtn:hover {
  background-color: #c57a00;
}

.product_handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.view_product_sidebar {
  position: relative;
  border: 1px solid var(--color-trans-three);
}
.view_product_sidebar .wishlistBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  color: var(--color-text);
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  background-color: transparent;
  border: 1px solid var(--color-dark);
}
.view_product_sidebar .wishlistBtn svg {
  font-size: 1.6rem;
}
.view_product_sidebar .wishlistBtn.active svg {
  font-size: 1.6rem;
  color: red;
}
.view_product_sidebar .wishlistBtn:hover {
  border: 1px solid var(--color-accent);
}

@media (max-width: 567px) {
  .product_handler {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.d_left {
  height: 89vh;
  position: fixed;
  left: 0;
  top: 110px;
  width: 220px;
  overflow-y: auto;
}

.d_link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1.3rem;
}

.d_link > .nav-link {
  color: var(--color-secondary);
  font-weight: 500;
  font-size: 0.9rem;
}
.d_link > .nav-link svg {
  color: var(--color-secondary);
}

.d_link > .nav-link.active_link {
  color: var(--color-text);
}
.d_link > .nav-link.active_link svg {
  color: var(--color-text);
}

.d_right {
  margin-left: 220px;
  overflow-y: auto;
}

/* @media (max-width : 567px) {
   .d_left {

   }
} */
.pp_iyg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jjk_2m2 {
  width: 30px;
  height: 30px;
}

.mydb {
  position: relative;
}
.mydb .search_result {
  width: 100%;
}

.mydb_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.8rem 0.5rem;
  background-color: var(--color-accent);
  margin-bottom: 1rem;
}

.search_box .search_bars {
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--color-trans-three);
}
.search_box .search_btn {
  border: 1px solid var(--color-trans-three);
  padding: 0.3rem 0.6rem;
}

.d_p_head {
  padding: 0.6rem 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.d_p_head .d_p_icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(4, 148, 119, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-text);
  position: relative;
}
.d_p_head .d_p_icon .o_counter {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-orange);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  color: var(--color-text);
}

.d_p .d_p_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0;
}
.d_p .d_p_mid .d_p_mid_img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 1px solid var(--color-trans-three);
  margin-bottom: 0.8rem;
  overflow: hidden;
}
.d_p .d_p_mid h6 {
  padding: 0.5rem 0;
}

.d_p_footer {
  border: 1px solid var(--color-trans-three);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem 0.6rem;
}

.t_p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.t_p:nth-child(1) {
  border-right: 1px solid var(--color-trans-three);
}

.t_p_icon {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(4, 148, 119, 0.2);
  border-radius: 4px;
  margin-right: 0.8rem;
}

.t_p_right_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.t_p_right_text span {
  font-size: 0.7rem;
  color: var(--color-secondary);
  font-weight: bold;
}

.pid {
  color: var(--color-secondary);
}

.manage_user_header button {
  border: none;
  margin: 0.4rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--color-secondary);
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.manage_user_header .tabs.active {
  background-color: var(--color-accent);
}

.manage_order_header {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.manage_order_header a {
  display: inline-block;
  border: none;
  background-color: transparent;
}

.auth_container {
  margin: 0 auto;
  width: 80%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 20px 6px rgba(9, 11, 111, 0.5215686275);
          box-shadow: 0 0 20px 6px rgba(9, 11, 111, 0.5215686275);
}
.auth_container div {
  height: auto;
}
.auth_container .ac_left {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/736x/5d/73/ea/5d73eaabb25e3805de1f8cdea7df4a42--tumblr-backgrounds-iphone-phone-wallpapers-iphone-wallaper-tumblr.jpg");
  overflow: hidden;
}
.auth_container .ac_right {
  padding: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}
.auth_container .ac_right h5 {
  font-size: 4vmax;
}
.auth_container .ac_right p {
  font-size: 14px;
  color: var(--color-mute);
}
.auth_container .ac_right p a {
  color: var(--color-link);
}

.ac_left .ac_overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: rgba(89, 97, 249, 0.6784313725);
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ac_left .ac_overlay > h1 {
  font-size: 5vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media (max-width: 980px) {
  .auth_container {
    width: 90%;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .auth_container .ac_right {
    width: 100%;
  }
}