.nav_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem 0;
}

.nav_brand_logo {
  width: 20%;
}

.nav_right_items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
}

.nv_items {
  display: flex;
  padding: 0 0.2rem;
  align-items: center;
  justify-content: center;
  margin: 0 0.1rem;
  font-size: 1.3rem;
  span {
    cursor: pointer;
  }
}

.navigation_bar {
  background-color: var(--color-nav);
  color: var(--color-text);
  padding: 0.6rem 0;
}

.search_box {
  position: relative;
}

.search_field {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, 50%);
  z-index: 99999;
  &.active {
    display: block;
    padding: 2rem 1rem;
    background: var(--color-light);
    width: max-content;
    border-radius: 10px;
    box-shadow: 0 0 6px var(--color-trans-three);
  }
}

.account_box {
  position: relative;
}

.account_field {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, 20%);
  z-index: 99999;
  font-size: 0.9rem;
  &.active {
    display: flex;
    padding: 1.3rem;
    background: var(--color-light);
    width: max-content;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 6px var(--color-trans-three);
  }

  .drp_item {
    margin: 0.4rem 0;
  }

  button {
    background-color: transparent;
    border: none;
    color: var(--color-text);
  }
}

.nav_link {
  margin: 0 0.6rem;
  width: fit-content;
  color: var(--color-text);
}

.nav_link.active {
  color: var(--color-text-alt) !important;
}

.cart_link {
  position: relative;

}
.cart_link .cart_badge {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: unset;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: unset;
}

.navbar-light .navbar-brand {
  color: unset;
}
