.ddl_g_btn {
   background-color: transparent;
   border: none;
   color: var(--color-text);
   padding: 0.6rem;
   height: auto;
   display: block;
   // width: 100%;
   font-size: 1rem;

   &.active {
      background-color: var(--color-accent);
   }
}

.ff_kl3 {
   padding: 2rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}