.cart_card {
   background-color: #ffffff;
   padding: 0.8rem;
   border: 1px solid #e7e7e7;
   border-top: 8px solid #92c700;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
}

.cart_card > h6 {

}

.cart_card_body p {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 0.9rem;
}