.c_nav {
   border-bottom: 1px solid gray;
}

.c_nav_btn {
   padding: 1rem 0.6rem;
   width: 100px;
   cursor: pointer;
}

.c_nav_btn .a {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.c_nav_btn:hover {
   box-shadow: 0 0 6px 0 #00000080;
}

.c_nav_btn .a > img {
   width: 55px;
   height: 55px;
}